@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-color: theme(colors.white);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-color: color-mix(
      in srgb,
      theme(colors.cyan.950),
      theme(colors.black) 25%
    );
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--background-color);
}

@layer components {
  .w-limited {
    @apply w-5/6 sm:w-4/5 md:w-3/4 lg:w-2/3 xl:w-1/2 2xl:w-[64rem];
  }
}
